<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>User:</b>
  <%= link_to @article.user.name, user_path(@article.user.name)  %>
</p>

<p>
  <b>Lang:</b>
  <%= @article.lang %>
</p>

<p>
  <b>Text:</b>
  <%= raw @article.text %>
</p>


<%= link_to 'Back', articles_path %> |
<% if canEdit?(current_user,@article.user) %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<% if canCreate?(current_user) %>
<%= link_to 'New', new_article_path %>
<% end %>
