<%= simple_form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %><br />
  <%= f.input :yield %><br />

  <div class="categories">
    <%= f.label :tag_list, "Categories (separated by commas)" %><br />
    <%= f.text_field :tag_list  %><br />
  </div>


  <h3>Ingredinets part</h3>
  <div class="ingredients">
    <%= f.simple_fields_for :ingredients do |ingredient| %>
      <%= render "ingredient_fields", :f => ingredient %>
    <% end %>
    <%= link_to_add_association "Add Ingredient", f, :ingredients %>
  </div>


  <%= f.input :instructions %><br />

  <%= f.button :submit %>

<% end %>
