<% if @recipes.first.nil? %>
<h1>Nothig to show</h1>
<% else %>
<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Categories</th>
    <th>Yield</th>
    <th>Instructions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.title %></td>
    <td><%= recipe.user.name %></td>
    <td><%= raw recipe.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
    <td><%= recipe.yield %></td>
    <td><% if recipe.instructions.length > 140 %>
           <%= truncate(recipe.instructions, length: 140, separator: "/\s+|\n*|\s*\n*/")  %>
         <% else %>
           <%= recipe.instructions %>
         <% end %>
     </td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <!-- < % = if recipe.id  -->
  </tr>
<% end %>
</table>
<% end %>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-4746490472901860";
/* cook_banner_separator */
google_ad_slot = "6181682605";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br />
