<% if @recipes.first.nil? %>
<h1>Nothig to show</h1>
<% else %>

<div class="toLeft">
<% @recipes.each do |rep| %>
  <div class="recIndex">
    <div class="recTitle"><% if rep.title.length >  40 %><%= link_to truncate(rep.instructions, length: 42,separator: " "), rep  %>
              <% else %>
                <%= link_to rep.title, rep  %>
              <% end %></div>
    <div class="userName">by <%= rep.user.name %></div>
    <div class="recTags">Categories: <%= raw rep.tag_list.first(4).map { |t| link_to t, tag_path(t) }.join(', ') %></div>
    <div class="recInstructions"><% if rep.instructions.length > 140 %>
             <%= truncate(rep.instructions, length: 140, separator: "/\s+|\n*|\s*\n*/")  %>
           <% else %>
             <%= rep.instructions %>
           <% end %></div>
    <div class="recLinks"><%= link_to 'Show', rep %><% if User.can_modify?(current_user) %> || <%= link_to 'Edit', edit_recipe_path(rep) %> || <%= link_to 'Destroy', rep, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></div>
  </div>
<% end %>
</div>
<!-- div style="clear: both"></div -->
<% end %>



<script type="text/javascript"><!--
google_ad_client = "ca-pub-4746490472901860";
/* cook_banner_separator */
google_ad_slot = "6181682605";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br />
