<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @recipe.title %>
</p>

<p>
  <b>User:</b>
  <%= link_to @recipe.user.name, user_path(@recipe.user.name) %>
</p>

<p>
  <b>Yield:</b>
  <%= @recipe.yield %>
</p>

<p>
  <b>Categories:</>
  <%= raw @recipe.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>

  <div class="pubinside">
    <script type="text/javascript"><!--
      google_ad_client = "ca-pub-4746490472901860";
      /* cook_inside_recipe */
      google_ad_slot = "2008835008";
      google_ad_width = 336;
      google_ad_height = 280;
      //-->
    </script>
    <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>

<table>
<tr>
  <th>amount</th>
  <th>unit</th>
  <th>name</th>
</tr>
<% @recipe.ingredients.each do |mying| %> 
<tr>
  <td class="ingamount"><%= mying.amount %></td>
  <td class="ingunit"><% if !Term.find_by_term(mying.unit.to_s.downcase).nil? %>
      <span class="infounit" title="<%= Term.find_by_term(mying.unit.to_s.downcase).definition %>"><%= mying.unit %></span>
      <% else %>
      <%= mying.unit.to_s.downcase %>
      <% end %>
     </td>
  <td class="ingname"><%= mying.name %></td>
</tr>
<% end %>
</table>

<p>
  <b>Instructions:</b>
  <%= simple_format(@recipe.instructions) %>
</p>

<!-- comments -->
<%= render :partial => 'comments/comment', :locals => {:commentable => @recipe, :comments => @comments} %>
<%= render :partial => 'comments/form', :locals => {:commentable => @recipe} %>


<% if canEdit?(current_user) %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to 'Back', recipes_path %>
