<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Categories</th>
    <th>Yield</th>
    <th>Instructions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @userRecipes.each do |recipe| %>
  <tr>
    <td><%= recipe.title %></td>
    <td><%= recipe.user.name %></td>
    <td><%= raw recipe.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
    <td><%= recipe.yield %></td>
    <td><%= recipe.instructions %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <!-- < % = if recipe.id  -->
  </tr>
<% end %>
</table>


<% if canEdit?(current_user,user) %> 
<%= link_to 'Edit', edit_user_path(@user) canEdit?(current_user,user) %> |
<% end %>
<%= link_to 'Back', users_path %>
