<p id="notice"><%= notice %></p>

<p>
  <b>Unit:</b>
  <%= @ingredient.unit %>
</p>

<p>
  <b>Measure:</b>
  <%= @ingredient.measure %>
</p>

<p>
  <b>Name:</b>
  <%= @ingredient.name %>
</p>

<p>
  <b>Recipe:</b>
  <%= @ingredient.recipe %>
</p>


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
