<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cookbook</title>
    <meta name="google-site-verification" content="WFM4u7o5_mveeDo3iMlXuEZJJoyTjA1-9BQLbMo4XlU" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main">
      <header>
        <div id="logo">
          <div id="logo_text">
            <h1><a href="#">My Recipes</a></h1>
            <h2>Recetas del mundo</h2>
          </div>
        </div>
        <nav>
          <div id="menu_container">
            <ul class="sf-menu" id="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/recipes">Recipes</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <div id="site_content">
        <div id="sidebar_container">
          <div class="sidebar">
            <h3>Tags</h3>
            <%= render "recipes/tags" %>
          </div>
          <div class="sidebar">
            <h3>Random Recipe</h3>
            <%= render "recipes/random_recipe" %>
          </div>
          <div class="sidebar">
            <h3>Publicity</h3>
            <script type="text/javascript">
            //<![CDATA[
            <!--
                  google_ad_client = "ca-pub-4746490472901860";
                  /* cook_vertical_simple */
                  google_ad_slot = "8194969404";
                  google_ad_width = 120;
                  google_ad_height = 240;
            //-->
            //]]>
            </script> <script type="text/javascript" src=
            "http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
          </div>
          <div class="sidebar">
            <h3>User</h3>
            <% if current_user %>Logged in as
              <%= current_user.name %>(<%= current_user.id %>).
              <%= link_to "Log out", log_out_path %>
            <% else %>
              <%= link_to "Sign up", sign_up_path %> or
              <%= link_to "log in", log_in_path %>
            <% end %>
          </div>
          <div class="sidebar">
            <h4>License</h4>
            <a rel="license" href=
              "http://creativecommons.org/licenses/by-sa/3.0/"><img alt=
              "Creative Commons License" style="border-width:0" src=
              "http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br />
              <span xmlns:dct="http://purl.org/dc/terms/" property=
              "dct:title">The recipe site</span> by <span xmlns:cc=
              "http://creativecommons.org/ns#" property=
              "cc:attributionName">Matias Palomec</span> is licensed under a
              <a rel="license" href=
              "http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons
              Attribution-ShareAlike 3.0 Unported License</a>.
          </div>
        </div>
        <div id="content">
          <% flash.each do |name, msg| %><%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <footer>
        <small>by Matias "nnss" Palomec</small>
      </footer>
    </div>
    <!-- jQuery with plugins -->
    <script type="text/javascript">
      $(document).ready(function(){
        <!-- initialise sooperfish menu -->
        $('ul.sf-menu').sooperfish();
        <!-- goto top javascript -->
        $('.top').click(function() {$('html, body').animate({scrollTop:0}, 'fast'); return false;});
      });
    </script>
  </body>
</html>
